<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823794147864-tl831a9nbt5tpnqe1d7tdh94phmnjavr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823794147864-tl831a9nbt5tpnqe1d7tdh94phmnjavr</string>
	<key>API_KEY</key>
	<string>AIzaSyDGgs0Q0NwpRpe309KE-UViJC2-aqeTuw0</string>
	<key>GCM_SENDER_ID</key>
	<string>823794147864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blits.wallet</string>
	<key>PROJECT_ID</key>
	<string>blits-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>blits-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823794147864:ios:c4ffef6275799a60db996d</string>
	<key>DATABASE_URL</key>
	<string>https://blits-wallet.firebaseio.com</string>
</dict>
</plist>