---
title: Circle applicants
---
extends layouts/_layout
block content
	.page6.js-page6
		+header6('', 'active')
		.page6__wrapper
			+sidebar6('', 'active')
			.page6__center
				.applicant.js-applicant
					.applicant__nav
						a.applicant__link.js-applicant-link.active(href="#") Applicant Review
						a.applicant__link.js-applicant-link(href="#") Job Details
					.applicant__container
						.applicant__box.js-applicant-box
							.applicant__row
								.applicant__users
									.applicant__title.title Applicant Review
									.applicant__group
										.applicant__user
											.applicant__ava
												img.applicant__pic(src="img/ava-1.png" alt="")
											.applicant__desc
												.applicant__man Brett Drake
												.applicant__details
													span.applicant__post UI Designer
													span.applicant__experience 1 Yrs Exp
											.applicant__actions
												a.applicant__action.applicant__action_accept.tooltip(href="#" title="Accept Offers")
													+i('check-sm-thick')
												a.applicant__action.applicant__action_reject.tooltip(href="#" title="Reject Offers")
													+i('close-sm')
										.applicant__user
											.applicant__ava
												img.applicant__pic(src="img/ava-2.png" alt="")
											.applicant__desc
												.applicant__man Birdie Morrison
												.applicant__details
													span.applicant__post UI Designer
													span.applicant__experience 1 Yrs Exp
											.applicant__actions
												a.applicant__action.applicant__action_accept.tooltip.active(href="#" title="Accept Offers")
													+i('check-sm-thick')
												a.applicant__action.applicant__action_reject.tooltip(href="#" title="Reject Offers")
													+i('close-sm')
										.applicant__user
											.applicant__ava
												img.applicant__pic(src="img/ava-3.png" alt="")
											.applicant__desc
												.applicant__man Agnes Armstrong
												.applicant__details
													span.applicant__post Interaction Dsgn
													span.applicant__experience 1 Yrs Exp
											.applicant__actions
												a.applicant__action.applicant__action_accept.tooltip(href="#" title="Accept Offers")
													+i('check-sm-thick')
												a.applicant__action.applicant__action_reject.tooltip.active(href="#" title="Reject Offers")
													+i('close-sm')
										.applicant__user
											.applicant__ava
												img.applicant__pic(src="img/ava-4.png" alt="")
											.applicant__desc
												.applicant__man Roxie Ward
												.applicant__details
													span.applicant__post UI Designer
													span.applicant__experience 1 Yrs Exp
											.applicant__actions
												a.applicant__action.applicant__action_accept.tooltip(href="#" title="Accept Offers")
													+i('check-sm-thick')
												a.applicant__action.applicant__action_reject.tooltip.active(href="#" title="Reject Offers")
													+i('close-sm')
										.applicant__user
											.applicant__ava
												img.applicant__pic(src="img/ava-5.png" alt="")
											.applicant__desc
												.applicant__man Francis Mills
												.applicant__details
													span.applicant__post UI Designer
													span.applicant__experience 1 Yrs Exp
											.applicant__actions
												a.applicant__action.applicant__action_accept.tooltip.active(href="#" title="Accept Offers")
													+i('check-sm-thick')
												a.applicant__action.applicant__action_reject.tooltip(href="#" title="Reject Offers")
													+i('close-sm')
										.applicant__user
											.applicant__ava
												img.applicant__pic(src="img/ava-1.png" alt="")
											.applicant__desc
												.applicant__man Brett Drake
												.applicant__details
													span.applicant__post UI Designer
													span.applicant__experience 1 Yrs Exp
											.applicant__actions
												a.applicant__action.applicant__action_accept.tooltip(href="#" title="Accept Offers")
													+i('check-sm-thick')
												a.applicant__action.applicant__action_reject.tooltip(href="#" title="Reject Offers")
													+i('close-sm')
										.applicant__user
											.applicant__ava
												img.applicant__pic(src="img/ava-2.png" alt="")
											.applicant__desc
												.applicant__man Birdie Morrison
												.applicant__details
													span.applicant__post UI Designer
													span.applicant__experience 1 Yrs Exp
											.applicant__actions
												a.applicant__action.applicant__action_accept.tooltip.active(href="#" title="Accept Offers")
													+i('check-sm-thick')
												a.applicant__action.applicant__action_reject.tooltip(href="#" title="Reject Offers")
													+i('close-sm')
										.applicant__user
											.applicant__ava
												img.applicant__pic(src="img/ava-3.png" alt="")
											.applicant__desc
												.applicant__man Agnes Armstrong
												.applicant__details
													span.applicant__post Interaction Dsgn
													span.applicant__experience 1 Yrs Exp
											.applicant__actions
												a.applicant__action.applicant__action_accept.tooltip(href="#" title="Accept Offers")
													+i('check-sm-thick')
												a.applicant__action.applicant__action_reject.tooltip.active(href="#" title="Reject Offers")
													+i('close-sm')
										.applicant__user
											.applicant__ava
												img.applicant__pic(src="img/ava-4.png" alt="")
											.applicant__desc
												.applicant__man Roxie Ward
												.applicant__details
													span.applicant__post UI Designer
													span.applicant__experience 1 Yrs Exp
											.applicant__actions
												a.applicant__action.applicant__action_accept.tooltip(href="#" title="Accept Offers")
													+i('check-sm-thick')
												a.applicant__action.applicant__action_reject.tooltip.active(href="#" title="Reject Offers")
													+i('close-sm')
										.applicant__user
											.applicant__ava
												img.applicant__pic(src="img/ava-5.png" alt="")
											.applicant__desc
												.applicant__man Francis Mills
												.applicant__details
													span.applicant__post UI Designer
													span.applicant__experience 1 Yrs Exp
											.applicant__actions
												a.applicant__action.applicant__action_accept.tooltip.active(href="#" title="Accept Offers")
													+i('check-sm-thick')
												a.applicant__action.applicant__action_reject.tooltip(href="#" title="Reject Offers")
													+i('close-sm')
								.applicant__wrap
									.applicant__card
										.applicant__title Applicant List Comparison
										.applicant__table
											.applicant__line.applicant__line_head
												.applicant__cell PIC
												.applicant__cell NAME
												.applicant__cell PORTFOLIO
												.applicant__cell EXP
												.applicant__cell SALARY
												.applicant__cell WORK START
											.applicant__line
												.applicant__cell
													.applicant__ava
														img.applicant__pic(src="img/ava-1.png" alt="")
												.applicant__cell Brett Drake
												.applicant__cell
													a.applicant__link(href='#') 
														+i('world')
														| Dribbble
												.applicant__cell <span class="applicant__note">EXP</span> 3 Yrs
												.applicant__cell <span class="applicant__note">SALARY</span> $205/Mth
												.applicant__cell 27 May “19
											.applicant__line
												.applicant__cell
													.applicant__ava
														img.applicant__pic(src="img/ava-3.png" alt="")
												.applicant__cell Agnes Armstrong
												.applicant__cell
													a.applicant__link(href='#') 
														+i('world')
														| Behance
												.applicant__cell <span class="applicant__note">EXP</span> 1 Yrs
												.applicant__cell <span class="applicant__note">SALARY</span> $319/Mth
												.applicant__cell 27 May “19
											.applicant__line
												.applicant__cell
													.applicant__ava
														img.applicant__pic(src="img/ava-2.png" alt="")
												.applicant__cell Roxie Ward
												.applicant__cell
													a.applicant__link(href='#') 
														+i('world')
														| Awwards
												.applicant__cell <span class="applicant__note">EXP</span> 5 Yrs
												.applicant__cell <span class="applicant__note">SALARY</span> $150/Mth
												.applicant__cell 27 May “19
											.applicant__line
												.applicant__cell
													.applicant__ava
														img.applicant__pic(src="img/ava-4.png" alt="")
												.applicant__cell Blanche Hoffman
												.applicant__cell
													a.applicant__link(href='#') 
														+i('world')
														| Github
												.applicant__cell <span class="applicant__note">EXP</span> 8 Yrs
												.applicant__cell <span class="applicant__note">SALARY</span> $310/Mth
												.applicant__cell 27 May “19
											.applicant__line
												.applicant__cell
													.applicant__ava
														img.applicant__pic(src="img/ava-5.png" alt="")
												.applicant__cell Jon McCormick
												.applicant__cell
													a.applicant__link(href='#') 
														+i('world')
														| Dribbble
												.applicant__cell <span class="applicant__note">EXP</span> 3 Yrs
												.applicant__cell <span class="applicant__note">SALARY</span> $205/Mth
												.applicant__cell 27 May “19
									.applicant__card
										.applicant__title Employee Skill
										.applicant__group
											.applicant__item
												.applicant__brand
													.applicant__ava
														img.applicant__pic(src="img/sketch.png" alt="")
													.applicant__text Sketch
												.applicant__team
													.applicant__list
														.applicant__ava
															img.applicant__pic(src="img/ava-1.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-2.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-3.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-4.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-5.png" alt="")
													.applicant__counter +2
											.applicant__item
												.applicant__brand
													.applicant__ava
														img.applicant__pic(src="img/figma.png" alt="")
													.applicant__text Figma
												.applicant__team
													.applicant__list
														.applicant__ava
															img.applicant__pic(src="img/ava-1.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-2.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-3.png" alt="")
											.applicant__item
												.applicant__brand
													.applicant__ava
														img.applicant__pic(src="img/xd.png" alt="")
													.applicant__text Adobe XD
												.applicant__team
													.applicant__list
														.applicant__ava
															img.applicant__pic(src="img/ava-1.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-2.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-3.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-4.png" alt="")
											.applicant__item
												.applicant__brand
													.applicant__ava
														img.applicant__pic(src="img/principle.png" alt="")
													.applicant__text Principle
												.applicant__team
													.applicant__list
														.applicant__ava
															img.applicant__pic(src="img/ava-1.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-2.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-3.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-4.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-5.png" alt="")
													.applicant__counter +2
											.applicant__item
												.applicant__brand
													.applicant__ava
														img.applicant__pic(src="img/invision.png" alt="")
													.applicant__text Invision
												.applicant__team
													.applicant__list
														.applicant__ava
															img.applicant__pic(src="img/ava-1.png" alt="")
														.applicant__ava
															img.applicant__pic(src="img/ava-2.png" alt="")
									.applicant__card
										.applicant__title Job Match Leaderboard
										.applicant__group
											.applicant__leader
												.applicant__ava
													img.applicant__pic(src="img/ava-1.png" alt="")
												.applicant__desc
													.applicant__top
														.applicant__man Roxie Ward
														.applicant__post UI Designer
														.applicant__result
															+i('check-circle')
															| 7/8
													.applicant__bottom
														.applicant__scale
															.applicant__progress
																.applicant__bg(style="width: 85%;")
															.applicant__percent 85%
														.applicant__status.applicant__status_green Great Talent 
											.applicant__leader
												.applicant__ava
													img.applicant__pic(src="img/ava-2.png" alt="")
												.applicant__desc
													.applicant__top
														.applicant__man Floyd Hansen
														.applicant__post Interaction Dsgn
														.applicant__result
															+i('check-circle')
															| 5/8
													.applicant__bottom
														.applicant__scale
															.applicant__progress
																.applicant__bg(style="width: 60%;")
															.applicant__percent 60%
														.applicant__status.applicant__status_blue Good Enough
											.applicant__leader
												.applicant__ava
													img.applicant__pic(src="img/ava-3.png" alt="")
												.applicant__desc
													.applicant__top
														.applicant__man Agnes Armstrong
														.applicant__post Design Director
														.applicant__result
															+i('check-circle')
															| 2/8
													.applicant__bottom
														.applicant__scale
															.applicant__progress
																.applicant__bg(style="width: 25%;")
															.applicant__percent 25%
														.applicant__status.applicant__status_red Not Enough
						.applicant__box.js-applicant-box
							.description.description_sm
								.description__bg(style="background-image: url('img/bg-description-1.jpg');")
									.description__logo
										img.description__pic(src="img/mailchimp.png" alt="")
								.description__body
									.description__box
										.description__title Senior Product Designer
										.description__details
											span.description__company Mailchimp
											span.description__place California, US
												+i('get-location')
										.description__friends
											.users.users_sm
												.users__item
													img.users__pic(src="img/ava-1.png" alt="")
												.users__item
													img.users__pic(src="img/ava-2.png" alt="")
												.users__item(style="background-color: #FFC542") KA
												.users__item
													img.users__pic(src="img/ava-4.png" alt="")
												.users__item.users__item_counter +3
											.description__text 5 Friends Work here
										.description__actions
											button.description__action
												+i('saved')
											button.description__action
												+i('share')
									.description__parameters
										.description__parameter
											.description__category Experience
											.description__value 80 Hrs
										.description__parameter
											.description__category Max Salary Budget
											.description__value $250/Hrs
										.description__parameter
											.description__category Min Experience
											.description__value 2 Years Above
										.description__parameter
											.description__category Experienece Level
											.description__value Senior Level
										.description__parameter
											.description__category
												+i('calendar-1')
												| Work Started
											.description__value 15 Jun 2019
									.description__documents
										a.description__document(href="#")
											.description__icon
												+i('doc-1')
											.description__text Overview.pdf
											.description__size 235 Kb
										a.description__document(href="#")
											.description__icon
												+i('doc-1')
											.description__text Contract Employee.pdf
											.description__size 235 Kb
										a.description__document(href="#")
											.description__icon
												+i('doc-1')
											.description__text Benefit Details.pdf
											.description__size 235 Kb
									.description__post
										.description__stage Job Posted by
										.description__user
											.description__ava
												img.description__pic(src="img/ava-2.png" alt="")
											.description__desc
												.description__man Birdie Morrison
												.description__details
													span.description__specialization HR Specialist
													span.description__experience 10 Yrs Exp

			+switchTheme('switch_theme', 'js-switch-theme')