---
title: Square notifications
---
extends layouts/_layout
block content
	.page2
		+header2
		.page2__wrapper
			+sidebar2
			+users1
			.page2__container
				.page2__nav
					a.page2__link(href="#")
						+i('dashboard')
					a.page2__link(href="#")
						+i('friends')
					a.page2__link(href="#")
						+i('event')
					a.page2__link(href="#")
						+i('video')
					a.page2__link(href="#")
						+i('photo')
					a.page2__link.active.yes(href="#")
						+i('bell')
				.notifications
					.sorting1
						.sorting1__row
							h1.sorting1__title.title Notifications
							.sorting__variants
								.sorting__text Show:
								select.sorting__select
									option(selected) My Notifications
									option All Notifications
					.notifications__list
						.notifications__item.active
							.ava
								img.ava__pic(src="img/ava-1.png" alt="")
							.notifications__details
								.notifications__text <strong>Janeta Janet</strong> posted in <strong>UI/UX Community</strong> : “Mobile Apps UI Designer is required for Tech…”
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_friends
								+i('friends')
							+options4 
						.notifications__item
							.ava
								img.ava__pic(src="img/ava-2.png" alt="")
							.notifications__details
								.notifications__text <strong>Mohammed Al El Neny</strong> liked your article that you’ve post.
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_like
								+i('like')
							+options4 
						.notifications__item
							.ava
								img.ava__pic(src="img/ava-3.png" alt="")
							.notifications__details
								.notifications__text <strong>Grigoriy Kozhukhov</strong> commented your post : “That’s really coll dude”
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_comment
								+i('comment')
							+options4 
						.notifications__item.active
							.ava
								img.ava__pic(src="img/ava-1.png" alt="")
							.notifications__details
								.notifications__text <strong>Janeta Janet</strong> posted in <strong>UI/UX Community</strong> : “Mobile Apps UI Designer is required for Tech…”
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_friends
								+i('friends')
							+options4 
						.notifications__item
							.ava
								img.ava__pic(src="img/ava-2.png" alt="")
							.notifications__details
								.notifications__text <strong>Mohammed Al El Neny</strong> liked your article that you’ve post.
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_like
								+i('like')
							+options4 
						.notifications__item
							.ava
								img.ava__pic(src="img/ava-3.png" alt="")
							.notifications__details
								.notifications__text <strong>Grigoriy Kozhukhov</strong> commented your post : “That’s really coll dude”
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_comment
								+i('comment')
							+options4 
						.notifications__item.active
							.ava
								img.ava__pic(src="img/ava-1.png" alt="")
							.notifications__details
								.notifications__text <strong>Janeta Janet</strong> posted in <strong>UI/UX Community</strong> : “Mobile Apps UI Designer is required for Tech…”
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_friends
								+i('friends')
							+options4 
						.notifications__item
							.ava
								img.ava__pic(src="img/ava-2.png" alt="")
							.notifications__details
								.notifications__text <strong>Mohammed Al El Neny</strong> liked your article that you’ve post.
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_like
								+i('like')
							+options4 
						.notifications__item
							.ava
								img.ava__pic(src="img/ava-3.png" alt="")
							.notifications__details
								.notifications__text <strong>Grigoriy Kozhukhov</strong> commented your post : “That’s really coll dude”
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_comment
								+i('comment')
							+options4 
						.notifications__item.active
							.ava
								img.ava__pic(src="img/ava-1.png" alt="")
							.notifications__details
								.notifications__text <strong>Janeta Janet</strong> posted in <strong>UI/UX Community</strong> : “Mobile Apps UI Designer is required for Tech…”
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_friends
								+i('friends')
							+options4 
						.notifications__item
							.ava
								img.ava__pic(src="img/ava-2.png" alt="")
							.notifications__details
								.notifications__text <strong>Mohammed Al El Neny</strong> liked your article that you’ve post.
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_like
								+i('like')
							+options4 
						.notifications__item
							.ava
								img.ava__pic(src="img/ava-3.png" alt="")
							.notifications__details
								.notifications__text <strong>Grigoriy Kozhukhov</strong> commented your post : “That’s really coll dude”
								.notifications__time 12 Minutes ago
							.notifications__icon.notifications__icon_comment
								+i('comment')
							+options4 
						